---
import type { Style, Work } from "../../types/global";
import Button from "../Button.astro";
import style from "./Work.module.css"
export type Props = {work:Work};
const { work } = Astro.props;

const linkButton:Style = {
  color:"white",
  fontSize:"large",
  backgroundColor:"#56BEAE",
  bordreRadius:"5px",
}
---

<div class={style["card-container"]}>
  <div class={style["card-header"]}>
    <h2 class={style.title}>{work.title}</h2>
    <p class={style.developer}>created by {work.developer}</p>
  </div>
  <div class={style["card-main"]}>
    <img src={work.image.url}/>
    <p>{work.description}</p>
    <div class={style["technology-container"]}>
      {work.technologies.map(item=> {return <p class={style.technology}>{item.technology}</p>})}
    </div>
    <div class={style["link-container"]}>
      <Button name="リンクはこちら" href={work.link} style={linkButton}/>
    </div>
  </div>
  </div>

  
  