---
import style from "./Work.module.css"
export interface Props{
  fieldId :string;
  title: string;
  image: {
    url:string;
    height:number;
    width: number;
  }
  description: string;
  link: string;
  developer: string;
  technologies: Array<{
    fieldId: string;
    technology: string;
  }>
}
const { work } = Astro.props;

---

<div class={style["card-container"]}>
  <div class={style["card-header"]}>
    <h2 class={style.title}>{work.title}</h2>
    <p class={style.developer}>created by {work.developer}</p>
  </div>
  <div class={style["card-main"]}>
    <img src={work.image.url}/>
    <p>{work.description}</p>
    <div class={style["technology-container"]}>
      {work.technologies.map(item=> {return <p class={style.technology}>{item.technology}</p>})}
    </div>
    <div class={style["link-container"]}>
      <a class={style.link} href={work.link}>リンクはこちら</a>
    </div>
  </div>
  </div>

  
  